@using ClientVsServer.Models
@model IEnumerable<ClientVsServer.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_create", new Purchase());

<div id="result"></div>
@Html.Partial("_purchaseList",Model);

@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
