@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Client-side vs Server-side Logic</h1>
    <p class="lead">Samples of how and when to use (and not to use) which.</p>
    <span id="username">Not Logged In</span>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ajax helpers</h2>
        <p>
            We will also sample some Ajax controllers to see how you can combined both worlds in an easy manor with ASP.Net MVC
    </div>
    <div class="col-md-4">
        <h2>Front end scripting</h2>
        <p>Front end scripts with jQuery, does and donts.</p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>Security leaks and potential threats (DDOS, XSS, SQL Injections etc)</p>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document)
        .ready(function() {
            var request = $.ajax({
                url: '@Url.Action("GetCurrentUser", "Home")',
                dataType: ''
            });

            request.done(function(user) {
                if (user != null) {
                    $("#username").text(user.UserName);
                }
            });
        });
</script>